{% load static %}
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>fastcampus Docker -kevin-</title>
    <link rel="icon" href="{% static 'common/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'common/css/base.css' %}">
    {% block css %}
    {% endblock css %}
</head>

<body>
    <div class="container_box">
    {% block content %}
    {% endblock content %}
    
    {% block js %}
    {% endblock js %}
    </div>
</body>

</html>
